@media ( max-width : 960px) and ( min-width : 760px ) {
	.content .fb{
		display: none;
	}
	.content .pagina{
		width: 90%;
	}
}

@media ( max-width : 1150px) and ( min-width : 960px ) {
	.content .pagina{
		width: 40%;
	}
}

@media ( max-width : 1435px) and ( min-width : 1150px ) {
	.content .pagina{
		width: 50%;
	}
}

@media ( min-width : 760px) {
	html {
		height: 100%;
		font-family: 'Open Sans', sans-serif;
		font-family: 'Source Sans Pro', sans-serif;
	}
	body {
		margin: 0px;
		width: 100%;
		height: 100%;
		background-image: url('img/geometry_@2X.png');
	}
	.header {
		width: 100%;
		height: 15%;
		background: radial-gradient(50% 200%, #6699ff, #6666CC);
	}
	.img_logo {
		height: 100%;
		margin-right: 0px;
		float: left;
	}
	.search{
		display: inline;
		float: right;
	}
	.search summary{
		display: inline;
		float: right;
		background-image: url('img/search2.png');
		width: 40px;
		height: 40px;
		background-size: 100%;
		overflow: hidden;
	}
	.search summary:hover{
		background-image: url('img/search.png');
	}
	.search summary::-webkit-details-marker{
		display: none;
	}
	@keyframes fadeInRight{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	.search details[open] > form{
		animation-name: fadeInRight;
		animation-duration: 1s;
	}
	.search details{
		overflow: hidden;
	}
	.search details form input{
		display: inline;
		float: right;
	}
	.navbar_mobile{
		display: none;
	}
	.navbar {
		width: 100%;
		height: 25%;
		overflow: hidden;
		background-color: #0099FF;
	}
	.navbar_list {
		height: 100%;
		width: 100%;
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
	}
	.navbar_item_home {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
		border-radius: 6px 0 0 6px; 
	}
	.navbar_item_about {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
	}
	.navbar_item_product {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
	}
	.navbar_item_workshops {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
	}
	.navbar_item_webshop {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
		border-radius: 0 6px 6px 0;
	}
	.navbar_item_home:hover ~ .navbar_img {
		background-image: url('img/banner_image2.0.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_item_about:hover ~ .navbar_img {
		background-image: url('img/banner_about.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_item_product:hover ~ .navbar_img {
		background-image: url('img/banner_accessoires.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_item_workshops:hover ~ .navbar_img {
		background-image: url('img/banner_workshops.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_item_webshop:hover ~ .navbar_img {
		background-image: url('img/banner_webshop.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_img {
		float: left;
		background-image: url('img/banner_standard.png');
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
	}
	.a {
		margin-top: 5px;
		height: 100%;
		width: 100%;
		float: left;
		text-align: center;
		color: #29406b;
		font-size: 100%;
		text-decoration: none;
	}
	.navbar ul li:hover{
		box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);
	}
	.a:visited{
		color: #29406b;
	}
	.content{
		width: 90%;
		margin: 0 auto;
		height: 100%;
		margin-left: 10%;
	}
	.searchresult{
		font-size: 18px;
		text-decoration: none;
		color: blue;
	}
	.searchresult:hover{
		font-size: 24px;
	}
	.pagina{
		margin: auto;
		width: 60%;
		height: 100%;
		display: inline;
		float: left;
		overflow: hidden;
		border-style: hidden solid hidden solid;
		min-height: 710px;
	}
	.pagina div{
		display: inline;
	}
	.pagina table{
		margin: 2% auto;
		display: inline;
	}
	.webshop tbody{
		max-width: 80%;
		overflow: hidden;
	}
	.webshop tbody tr td{
		white-space: pre-wrap;
		padding: 0px 50px;
	}
	.pagina h2{
		margin-left: 10%;
	}
	.pagina a{
		color: white;
		text-decoration: none;
		background-color: black;
		border-radius: 6px;
		padding: 5px 6px;
		border: solid 1px grey;
	}
	.pagina a:hover{
		background-color: darkgrey;
	}
	.pagina div{
		display: inline;
	}
	.pagina table{
		margin: auto;
		margin-top: 2%;
		display: inline;
	}
	.webshop tbody tr td{
		white-space: pre-wrap;
		padding: 0px 50px 0px 50px;
	}
	.pagina pre {
		white-space: pre-wrap;
		font-family: inherit;
		padding: 0px 5px;
		height: 100%;
	}
	.pagina h2{
		margin-left: 10%;
	}
	.pagina h3{
		display: inline;
	}
	.pagina a{
		color: white;
		text-decoration: none;
		background-color: black;
		border-radius: 6px 6px 6px 6px;
		padding: 4px 5px;
		border: solid 1px grey; 
	}
	.pagina a:hover{
		box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);
	}
	.fb{
		margin-top: 10px;
		margin-left: 10px;
		display: inline;
		float: left;
	}
	.test {
		width: 100%;
		float: left;
	}
	.footer {
		height: 150px;
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: height;
		background: radial-gradient(50% 100%, #6699cc, #003399);
		background-color: blue;
	}
	.footer .img_logo{
		margin-top: 18.75px;
		height: 75%;
	}
	.footer ul {
		list-style: none;
		padding-left: 5px;
		display: inline;
	}
	.footer ul li a {
		color: black;
	}
	.footer ul li{
		display: inline-block;
	}
	.footer ul li:first-child{
		padding-top: 20px;
	}
	.table {
		float: left;
		display: inline;
		margin-bottom: 25px;
	}
	.home_img {
		float: left;
		display: inline;
		margin-left: 10%;
		margin-bottom: 25px;
		width: calc(100%/ 3);
	}
	.td, .th {
		border: solid 1px purple;
	}
	.loginLink {
		float: right;
		margin-right: 20px;
		margin-top: 65px;
		padding: 5px 10px 5px 10px;
		color: #003399;
		text-decoration: none;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
		border-radius: 6px 6px 6px 6px; 
	}
	.loginLink:hover{
		box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);
	}
}

@media (min-width: 401px) and (max-width: 760px){
	.fb{
		display: none;
	}
	html {
		height: 100%;
		font-family: 'Open Sans', sans-serif;
		font-family: 'Source Sans Pro', sans-serif;
	}
	body {
		margin: 0px;
		width: 100%;
		height: 100%;
		background-color: beige;
		background-image: url('img/geometry_@2X.png');
	}
	.header {
		width: 100%;
		height: 15%;
		background: radial-gradient(50% 200%, #6699ff, #6666CC);
	}
	.img_logo {
		height: 100%;
		margin-right: 0px;
		float: left;
	}
	summary::-webkit-details-marker {
  		display: none;
	}
	.navbar_mobile{
		display: inline-table;
		width: 100%;
		overflow: hidden;
	}
	.navbar_mobile details div{
		background: radial-gradient(50% 200%, #6699ff, #2E45FF);
		height: 100%;
		overflow: hidden;
	}
	@keyframes slideInDown{
		0%{
			transform: translateY(-100%);
		}
		100%{
			transform: translateY(0);
		}
	}
	.navbar_mobile details[open] > div ul{
		animation-name: slideInDown;
		animation-duration: 1s;
	}
	.navbar_mobile details summary{
		font-size: 18px;
		background: radial-gradient(50% 200%, #6699ff, #2E45FF);
	}
	.navbar_mobile details ul li{
		background: linear-gradient(to right, darkblue, blue, darkblue);
		overflow: hidden;
		width: 80%;
		display: block;
		font-size: 24px;
		border-radius: 6px 6px 6px 6px; 
		margin: 0 auto;
		margin-bottom: 5px;
	}
	.navbar_mobile details ul{
		list-style: none;
		list-style: none;
		padding-left: 0px;
		z-index: 999;
		margin-bottom: 0px;
		margin-top: 0px;
		height: 100%;
		text-align: center;
		background: radial-gradient(50% 200%, #6699ff, #2E45FF);
	}
	.navbar_mobile details{
		height: 100%;
	}
	.navbar {
		width: 100%;
		height: 2%;
		overflow: hidden;
		display: none;
	}
	.navbar_list {
		height: 65%;
		width: 100%;
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
		background-color: #FF9900;
		overflow: hidden;
	}
	.navbar_item_home {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.navbar_item_about {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.navbar_item_product {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.navbar_item_workshops {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.navbar_item_webshop {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.a{
		height: 100%;
		width: 100%;
		float: left;
		text-decoration: none;
		color: white;
	}
	.navbar_img {
		width: 0px;
		height: 0px;
	}
	.content{
		width: 80%;
		margin: 0 auto;
		overflow: hidden;
		border-style: hidden solid hidden solid;
		z-index: 1;
	}
	.content pre{
		white-space: pre-wrap;
		font-family: inherit;
		padding: 0px 5px;
	}
	table {
		border: solid 1px orange;
		float: left;
		display: inline;
		margin-bottom: 25px;
	}
	td, th {
		border: solid 1px blue;
	}
	.footer{
		width: 100%;
		float: left;
		display: none;
		margin-bottom: height;
		background-color: blue;
	}
	.footer .img_logo{
		margin-top: 18.75px;
		height: 75%;
	}
	.footer ul {
		list-style: none;
		padding-left: 5px;
	}
	.footer ul li a {
		color: black;
	}
	.loginLink {
		float: right;
		padding-bottom: 5px;
		padding-right: 5px;
		text-decoration: none;
		color: black;
	}
}

@media(max-width: 400px){
	.fb{
		display: none;
	}
	html {
		height: 100%;
		font-family: 'Open Sans', sans-serif;
		font-family: 'Source Sans Pro', sans-serif;
	}
	body {
		margin: 0px;
		width: 100%;
		height: 100%;
		background-image: url('img/geometry_@2X.png');
	}
	.header {
		width: 100%;
		height: 15%;
		background: radial-gradient(50% 200%, #6699ff, #6666CC);
	}
	.img_logo {
		height: 100%;
		margin-right: 0px;
		float: left;
	}
	summary::-webkit-details-marker {
  		display: none;
	}
	.navbar_mobile{
		display: inline-table;
		width: 100%;
		background: radial-gradient(50% 200%, #6699ff, #2E45FF);
		overflow: hidden;
	}
	@keyframes slideInDown{
		0%{
			transform: translateY(-100%);
		}
		100%{
			transform: translateY(0);
		}
	}
	.navbar_mobile details[open] > div ul{
		animation-name: slideInDown;
		animation-duration: 1s;
	}
	.navbar_mobile details div{
		font-size: 18px;
		background: radial-gradient(50% 200%, #6699ff, #2E45FF);
		overflow: hidden;
	}
	.navbar_mobile details ul li{
		background: linear-gradient(to right, darkblue, blue, darkblue);
		overflow: hidden;
		width: 80%;
		display: block;
		font-size: 24px;
		border-radius: 6px 6px 6px 6px; 
		margin: 0 auto;
		margin-bottom: 5px;
	}
	.navbar_mobile details ul{
		list-style: none;
		list-style: none;
		padding-left: 0px;
		z-index: 999;
		margin-bottom: 0px;
		margin-top: 0px;
		text-align: center;
		background: radial-gradient(50% 200%, #6699ff, #2E45FF);
	}
	.navbar_mobile ul li{
	}
	.navbar {
		width: 100%;
		height: 3%;
		overflow: hidden;
		display: none;
	}
	.navbar_list {
		height: 65%;
		width: 100%;
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
		background-color: #FF9900;
		overflow: hidden;
	}
	.navbar_item_home {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.navbar_item_about {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.navbar_item_product {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.navbar_item_workshops {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.navbar_item_webshop {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.a{
		height: 100%;
		width: 100%;
		float: left;
		text-decoration: none;
		color: white;
	}
	.navbar_img {
		width: 0px;
		height: 0px;
	}
	.content{
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	.content pre{
		white-space: pre-wrap;
		font-family: inherit;
		padding: 0px 5px;
	}
	table {
		border: solid 1px orange;
		float: left;
		display: inline;
		margin-bottom: 25px;
	}
	td, th {
		border: solid 1px blue;
	}
	.footer{
		width: 100%;
		float: left;
		display: none;
		margin-bottom: height;
		background-color: blue;
	}
	.footer ul {
		list-style: none;
		padding-left: 5px;
	}
	.footer ul li a {
		color: black;
	}
	.loginLink {
		float: right;
		padding-bottom: 5px;
		padding-right: 5px;
		text-decoration: none;
		color: black;
	}
}