html{
	height: 100%;									/*Default page settings*/
}

body{
	background-color: #669999;						/*Default settings for page*/
	height: 100%;									/**/
}

.addProduct{
	display: inline-block;							/*Area for adding products*/
	border: solid 1px black;						/**/
}

.addProduct a{
	text-decoration: none;							/*Link in product adding area*/
}

.addProduct a:visited{
	color: blue;									/*Visited links*/
}

.wrapper{
	height: 100%;									/*Wrapper*/
}

.product_mgmt{
	width: 17%;										/**/
	height: 100%;									/*Area for managing products*/
	float: left;									/**/
	text-align: right;								/**/
}

.product_mgmt input{
	margin-top: 5px;								/*Inputs for product management area*/
}

.productList{
	width: 66%;										/**/
	float: left;									/*Product listing*/
	text-align: center;								/**/
}

.product{
	display: inline;								/**/
	width: calc(100% / 3 - 42px);					/*Area for each product*/
	float: left;									/**/
	min-height: 425px;								/**/
	border: solid 2px black;						/**/
	border-radius: 12px;							/**/
	margin: 5px;									/**/
	padding: 5px 0px 0px 0px;						/**/
}

.wijzigForm{
	margin-left: 5px;								/**/
	margin-top: 5px;								/*Form in which proucts are edited*/
	width: 66%;										/**/
	float: left;									/**/
}

.paginate{
	display: inline;								/**/
	width: 100%;									/**/
	float: left;									/*Pagination area*/
	margin: 0 auto;									/**/
	margin-bottom: 5px;								/**/
}

.paginate_button{
	padding: 2px 7px;											/**/
	margin-left: 3px;											/**/
	margin-right: 3px;											/**/
	text-decoration: none;										/*Pagination page buttons*/
	color: black;												/**/
	background: linear-gradient(to bottom, #e3e3e3, #c0c0c0);	/**/
	border-radius: 5px;											/**/
	border: solid 1px black;									/**/
}

.paginate_button:active{
	box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);				/*When clicking page buttons*/
}

.wijzig_form{
	
}

.wijzig_form input{
	margin-left: 0px !important;									/*Inputs in editing form*/
}

.wijzig_form td{
	text-align: left !important;									/*Table data cells in editing form*/
}

.toevoegen{
	text-align: left;						/*Addproduct form*/
}

.toevoegen_submit{
	text-align: right;						/*Addproduct form*/
}