html{
	height: 100%;
}

body{
	background-color: #669999;
	height: 100%;
}

.addProduct{
	display: inline-block;
	border: solid 1px black;
}

.addProduct a{
	text-decoration: none;
}

.addProduct a:visited{
	color: blue;
}

.wrapper{
	height: 100%;
}

.product_mgmt{
	width: 17%;
	height: 100%;
	float: left;
	text-align: right;
}

.product_mgmt input{
	margin-top: 5px;
}

.productList{
	width: 66%;
	float: left;
	text-align: center;
}

.product{
	display: inline;
	width: calc(100% / 3);
	float: left;
}

.wijzigForm{
	margin-left: 5px;
	margin-top: 5px;
	width: 66%;
	float: left;
}

.paginate{
	display: inline;
	width: 100%;
	float: left;
	margin: 0 auto;
	margin-bottom: 5px;
}

.paginate_button{
	padding: 2px 7px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
	color: black;
	background: linear-gradient(to bottom, #e3e3e3, #c0c0c0);
	border-radius: 5px;
	border: solid 1px black;
}

.paginate_button:active{
	box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);
}

.wijzig_form{
	
}

.wijzig_form input{
	margin-left: 0px !important;
}

.wijzig_form td{
	text-align: left !important;
}