html {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
}
body {
	margin: 0px;									/*default settings for page*/
	height: auto;									/**/
}

.banner {
	width: 100%;									/**/
	height:77px;									/*Banner settings*/
	background-color:lightblue;						/**/
	margin:0px 0px 0px 0px;							/**/
}

.banner h1 {
	font-size:24px;								/**/
	padding-top:7px;							/*Title in banner*/
	margin-bottom: 0px;		
	margin-top:0px;
	width:50%;
	font-weight:normal;					/**/
}

.banner img {
	float:left;									/**/
	width:12%;									/*Logo img in banner*/
	height:100%;								/**/
}
.home_button{
	float: right;									/**/
	display: inline;								/**/
	height: 30px;									/*Home button in banner*/
	margin-top: 20px;								/**/
	margin-right: 20px;								/**/
}
.homebutton{
	width: 30px !important;							/*Home button in banner*/
}
.nav{
	display: inline;								/*Navbar settings*/
	width: 66%;										/**/
}
.nav .button{
	width: calc(24% - 168px);										/**/
	min-width: 15%;													/**/
	padding: 2px 3px;												/**/
	float: left;													/**/
	margin: 0px 60px;												/*Buttons in navbar*/
	text-align: center;												/**/
}
.nav .button a:hover {
	border-bottom:1px solid black;
}
.nav .button.active a {
	border-bottom:1px solid black;
}
.nav .button a{
	text-decoration: none;									/**/
	color: black;											/*Links in navbar buttons*/
	width: 100%;											/**/
	padding: 0% 22%;										/**/
}
.banner .logoutbutton{
	display: inline-block;												/**/
	float: right;													/**/
	padding: 2px 3px;												/**/
	margin: 0 auto;													/**/
	background: linear-gradient(to bottom, #e3e3e3, #c0c0c0);		/*Logout button in banner*/
	border: solid 1px black;										/**/
	border-radius: 2px;										/**/
	text-decoration: none;											/**/
	color: black;													/**/
}

.loggedInUser{
	display: inline-block;									/**/
	float: right;										/*Area to display logged in user*/
	color: beige;										/**/
	text-align: right;
	margin-bottom:10px;
										/**/
}
.addproduct {
	height:auto;
	float:left;
	padding-top:20px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:20px;
	background-color:lightblue;
	border-radius:10px;
	display:inline-block;
}
.addproduct a  {
	text-decoration:none;
	color:black !important;
}
.addproduct a:visited {
	color:black !important;
}
.loggedinuser p {
	font-size:18px;
	margin-top:-30px;
	padding:0px;
	width:100%;
	margin-bottom:0px;
}
#error{
	color: red;											/*Error messages*/
}

.loginform {
	margin-top: 3.5%;									/**/
	border-radius: 6px 6px 6px 6px; 					/**/
	display: inline-block;								/*Form for login details*/
	padding: 20px 8px;									/**/
	background-color: lightblue;						/**/
}

.loginform form{
	text-align: center;									/*Actual form for login details*/
	float: right;										/**/
}

.loginform form input{
	width: 75%;											/*Input fields in form*/
}

#submit{
	margin-top: 15px;									/**/
	margin-left: 75px;									/**/
	margin-right: 150px;								/*Submit button in form*/
	width: 50%;											/**/
	height: 4.5%;										/**/
	font-size: 18px;									/**/
}
.dynamiek-text{
	text-align: center;											/**/
	margin: 0px;												/**/
	padding: 30px;												/**/
	font-size: 30px;											/*Logo text*/
	color: #283e68;												/**/
	font-family: 'Open Sans', sans-serif;						/**/
	font-family: 'Source Sans Pro', sans-serif;					/**/
}
#submit:hover{
	box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);				/*When hovering over submit button*/
}
input[type=text]{
	float: left;												/**/
	margin-top: 10px;											/**/
	margin-left: 35px;											/**/
	padding: 4px;												/*Text inputs*/
	border: solid 1px darkgrey;									/**/
	border-radius: 6px 6px 6px 6px;								/**/
	-webkit-appearance: none;									/**/
}
input[type=password]{
	float: left;												/**/
	margin-top: 20px;											/**/
	margin-left: 35px;											/**/
	padding: 4px;												/*Password inputs*/
	border: solid 1px darkgrey;									/**/
	border-radius: 6px 6px 6px 6px;								/**/
	-webkit-appearance: none;									/**/
}
.content{
	text-align:center;											/**/
	height: 100%;												/*Content container on page*/
	background-color: #669999;									/**/
}
.plus_button{
	background-image: url('../bezoekerssite/img/plus2.png');	/**/
	width: 30px;												/*NOT USED*/
	height: 30px;												/**/
	background-size: 100% 100%;									/**/
}
.plus_button:hover{
	background-image: url('../bezoekerssite/img/plus.png');		/*NOT USED*/
}
.minus_button{
	background-image: url('img/minus.png');						/*NOT USED*/
}
.minus_button:hover{
	background-image: url('img/minus2.png');					/*NOT USED*/
}
td{
	text-align: center;											/*Table data cells*/
}
.gebruikbeh {
	font-family: Ariel;											/*User management*/
}

.tdgebruikbeh {											/*Table data cells in User management*/
	float:right;								/**/
	display:inline-block;
	width:612px;
	margin-right:37%;
	margin-top:10px;
}

.voegtoe{
	display:inline-block;
	width:200px;
	float:left;
	height:inherit;
	margin-top:10px;
}
.tabelinfo {
	margin-left:40%;
	font-family: Arial;
}
.tabelinfo h2{
	margin-left:20%;
	font-family: Arial;
}

.titeltoevoegen {
	text-align:center;
}
.buttonleft {
	border:1px solid grey;
	padding:5px 5px 5px 5px;
	background:linear-gradient(to bottom, #e3e3e3, #c0c0c0);
	border-radius:6px;
	text-decoration:none !important;
	color:black;
}
.buttonleft a:visited {
	color:black;
}
.headtext {
	text-align:center;
}

PTE