body {
	margin: 0px;
	height: auto;
}

.banner {
	width: 100%;
	height:77px;
	background-color:lightblue;
	margin:0px 0px 0px 0px;
}

.banner p {
	font-size:24px;
	padding-top:7px;
	margin-bottom: 0px;
}

.banner img {
	float:left;
	width:17%;
	height:100%;
}
.home_button{
	float: right;
	display: inline;
	height: 30px;
	margin-top: 20px;
	margin-right: 20px;
}
.homebutton{
	width: 30px !important;
}
.nav{
	display: inline;
	width: 66%;
}
.nav .button{
	width: calc(24% - 168px);
	padding: 2px 3px;
	float: left;
	margin: 0px 60px;
	background: linear-gradient(to bottom, #e3e3e3, #c0c0c0);
	border: solid 1px black;
	border-radius: 2px;
	text-align: center;
}
.nav .button a{
	text-decoration: none;
	color: black;
}
.banner .logoutbutton{
	display: inline;
	float: right;
	padding: 2px 3px;
	margin: 0 auto;
	background: linear-gradient(to bottom, #e3e3e3, #c0c0c0);
	border: solid 1px black;
	border-radius: 2px;
	text-decoration: none;
	color: black;
}
.banner .button:active{
	box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);
}

.loggedInUser{
	display: inline;
	float: right;
	color: beige;
	text-align: right;
}

#error{
	color: red;
}

.loginform {
	margin-top: 3.5%;
	border-radius: 6px 6px 6px 6px; 
	display: inline-block;
	padding: 20px 8px;
	background-color: lightblue;
}

.loginform form{
	text-align: center;
	float: right;
}

.loginform form input{
	width: 75%;
}

#submit{
	margin-top: 15px;
	margin-left: 75px;
	margin-right: 150px;
	width: 50%;
	height: 4.5%;
	font-size: 18px;
}
.dynamiek-text{
	text-align: center;
	margin: 0px;
	padding: 30px;
	font-size: 30px;
	color: #283e68;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
}
#submit:hover{
	box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);
}
input[type=text]{
	float: left;
	margin-top: 10px;
	margin-left: 35px;
	padding: 4px;
	border: solid 1px darkgrey;
	border-radius: 6px 6px 6px 6px;
	
	-webkit-appearance: none;
}
input[type=password]{
	float: left;
	margin-top: 20px;
	margin-left: 35px;
	padding: 4px;
	border: solid 1px darkgrey;
	border-radius: 6px 6px 6px 6px;
	
	-webkit-appearance: none;
}
.content{
	text-align:center;
	height: 100%;
	background-color: #669999;
}
.plus_button{
	background-image: url('../bezoekerssite/img/plus2.png');
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
}
.plus_button:hover{
	background-image: url('../bezoekerssite/img/plus.png');
}
.minus_button{
	background-image: url('img/minus.png');
}
.minus_button:hover{
	background-image: url('img/minus2.png');
}
td{
	text-align: center;
}