@media ( min-width : 800px) {
	html {
		height: 100%;
		font-family: 'Open Sans', sans-serif;
		font-family: 'Source Sans Pro', sans-serif;
	}
	body {
		margin: 0px;
		width: 100%;
		height: 100%;
		background-image: url('img/geometry_@2X.png');
	}
	.header {
		width: 100%;
		height: 15%;
		background: radial-gradient(50% 200%, #6699ff, #6666CC);
	}
	.img_logo {
		height: 100%;
		margin-right: 0px;
		float: left;
	}
	.navbar_mobile{
		display: none;
	}
	.navbar {
		width: 100%;
		height: 25%;
		overflow: hidden;
		background-color: #0099FF;
	}
	.navbar_list {
		height: 100%;
		width: 100%;
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
	}
	.navbar_item_home {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
		border-radius: 6px 0 0 6px; 
	}
	.navbar_item_about {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
	}
	.navbar_item_product {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
	}
	.navbar_item_workshops {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
	}
	.navbar_item_webshop {
		height: 30px;
		width: 20%;
		display: inline;
		float: left;
		font-size: 95%;
		background: linear-gradient(to bottom, #d55d15, #efba3d);
		border-radius: 0 6px 6px 0;
	}
	.navbar_item_home:hover ~ .navbar_img {
		background-image: url('img/banner_image2.0.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_item_about:hover ~ .navbar_img {
		background-image: url('img/banner_about.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_item_product:hover ~ .navbar_img {
		background-image: url('img/banner_accessoires.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_item_workshops:hover ~ .navbar_img {
		background-image: url('img/banner_workshops.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_item_webshop:hover ~ .navbar_img {
		background-image: url('img/banner_webshop.png');
		height: 100%;
		background-size: 100% 100%;
	}
	.navbar_img {
		float: left;
		background-image: url('img/banner_standard.png');
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
	}
	.a {
		height: 100%;
		width: 100%;
		float: left;
		text-align: center;
		color: #29406b;
		font-size: 100%;
		text-decoration: none;
	}
	.a:hover{
		box-shadow: inset 0 0 10px 1px rgba(0,0,0,.3);
	}
	.a:visited{
		color: #29406b;
	}
	.content {
		margin: 0 auto;
		width: 50%;
		overflow: hidden;
		border-style: hidden solid hidden solid;
	}
	.content pre {
		white-space: pre-wrap;
		font-family: inherit;
		padding: 0px 5px;
	}
	.test {
		width: 100%;
		float: left;
	}
	.footer {
		height: 150px;
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: height;
		background: radial-gradient(50% 100%, #6699cc, #003399);
		background-color: blue;
	}
	.footer .img_logo{
		margin-top: 18.75px;
		height: 75%;
	}
	.footer ul {
		list-style: none;
		padding-left: 5px;
		display: inline;
	}
	.footer ul li a {
		color: black;
	}
	table {
		border: solid 1px orange;
		float: left;
		display: inline;
		margin-bottom: 25px;
	}
	.home_img {
		float: left;
		display: inline;
		margin-left: 10%;
		margin-bottom: 25px;
		width: calc(100%/ 3);
	}
	td, th {
		border: solid 1px blue;
	}
	.loginLink {
		float: right;
		padding-bottom: 5px;
		padding-right: 5px;
		text-decoration: none;
		color: black;
	}
}

@media (min-width: 361px) and (max-width: 800px){
	html {
		height: 100%;
	}
	body {
		margin: 0px;
		width: 100%;
		height: 100%;
		background-color: beige;
	}
	.header {
		width: 100%;
		height: 15%;
		background-color: #0099FF;
	}
	.img_logo {
		height: 100%;
		margin-right: 0px;
		float: left;
	}
	.navbar_mobile{
		height: 40px;
		width: 100%;
	}
	.navbar_mobile details ul a{
		background-color: darkblue;
		overflow: hidden;
		width: 100%;
		display: block;
	}
	.navbar_mobile details ul{
		list-style: none;
		padding-left: 0px;
		z-index: 999;
	}
	.navbar {
		width: 100%;
		height: 2%;
		overflow: hidden;
		display: none;
	}
	.navbar_list {
		height: 65%;
		width: 100%;
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
		background-color: #FF9900;
		overflow: hidden;
	}
	.navbar_item_home {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.navbar_item_about {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.navbar_item_product {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.navbar_item_workshops {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.navbar_item_webshop {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
		font-size: 70%;
	}
	.a{
		height: 100%;
		width: 100%;
		float: left;
		border-style: hidden solid hidden solid;
		text-decoration: none;
	}
	.navbar_img {
		width: 0px;
		height: 0px;
	}
	.content{
		width: 80%;
		margin: 0 auto;
		overflow: hidden;
		border-style: hidden solid hidden solid;
		z-index: 1;
	}
	.content pre{
		white-space: pre-wrap;
		font-family: inherit;
		padding: 0px 5px;
	}
	table {
		border: solid 1px orange;
		float: left;
		display: inline;
		margin-bottom: 25px;
	}
	td, th {
		border: solid 1px blue;
	}
	.footer{
		width: 100%;
		float: left;
		display: none;
		margin-bottom: height;
		background-color: blue;
	}
	.footer .img_logo{
		margin-top: 18.75px;
		height: 75%;
	}
	.footer ul {
		list-style: none;
		padding-left: 5px;
	}
	.footer ul li a {
		color: black;
	}
	.loginLink {
		float: right;
		padding-bottom: 5px;
		padding-right: 5px;
		text-decoration: none;
		color: black;
	}
}

@media(max-width: 360px){
	html {
		height: 100%;
	}
	body {
		margin: 0px;
		width: 100%;
		height: 100%;
		background-color: beige;
	}
	.header {
		width: 100%;
		height: 15%;
		background-color: #0099FF;
	}
	.img_logo {
		height: 100%;
		margin-right: 0px;
		float: left;
	}
	.navbar {
		width: 100%;
		height: 3%;
		overflow: hidden;
	}
	.navbar_list {
		height: 65%;
		width: 100%;
		list-style: none;
		padding-left: 0px;
		margin-top: 0px;
		background-color: #FF9900;
		overflow: hidden;
	}
	.navbar_item_home {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.navbar_item_about {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.navbar_item_product {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.navbar_item_workshops {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.navbar_item_webshop {
		height: 20px;
		width: 20%;
		float: left;
		text-align: center;
	}
	.a{
		height: 100%;
		width: 100%;
		float: left;
		border-style: hidden solid hidden solid;
		text-decoration: none;
		font-size: 70%;
	}
	.navbar_img {
		width: 0px;
		height: 0px;
	}
	.content{
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}
	.content pre{
		white-space: pre-wrap;
		font-family: inherit;
		padding: 0px 5px;
	}
	table {
		border: solid 1px orange;
		float: left;
		display: inline;
		margin-bottom: 25px;
	}
	td, th {
		border: solid 1px blue;
	}
	.footer{
		width: 100%;
		float: left;
		display: none;
		margin-bottom: height;
		background-color: blue;
	}
	.footer ul {
		list-style: none;
		padding-left: 5px;
	}
	.footer ul li a {
		color: black;
	}
	.loginLink {
		float: right;
		padding-bottom: 5px;
		padding-right: 5px;
		text-decoration: none;
		color: black;
	}
}