body{
    height: 990px;
    width: 1899px;
    margin: 0px;
}

.header{
    background-color: #99ccff;
    height: 10%;
    overflow: hidden;
}

.navbar{
    background-color: #319CFF;
    height: 3.5%;
    text-align: center;
    padding-bottom: 5px;
    overflow: hidden;
}

.navbar_list{
    margin-top: 0px;
    padding: 0px;
    border: solid 1px #0052a5;
    border-radius: 12px;
    background-color: #0066cc;
    display: inline-block;
}

.navbar_item{
    display: inline-block;
}

.a{
    color: white;
    font-size: 200%;
    text-decoration: none;
    padding: 0px 8px;
    font-family: calibri;
}

.a:hover, .a:active{
    background-color: #00468d;
}

.wrapper{
    height: 75%;
    width: 100%;
    overflow: hidden;
}

.banner_left{
    width: 20%;
    float: left;
    background-color: #f7d44c;
    height: 100%;
    overflow: visible;
}

.content{
    width: 60%;
    float: left;
    overflow: hidden;
    padding: 0px 4px;
    height: 100%;
}

.contents{
	white-space: pre-wrap;
	font-family: inherit;
}

.banner_right{
    width: 20%;
    float: left;
    overflow: visible;
    background-color: #f7d44c;
    height: 100%;
}

.footer{
    font-size: 10px;
    background-color: #0066ff;
    display: inline-block;
    width: 100%;
    position: fixed;
    margin-bottom: 0px;
}

.footer ul{
}

.footer ul li{

}

.footer ul li a{
    color: white;
}

.testdata{
    background-color: red;
}

.testdata2{
	background-color: black;
	color: white;
	display: inline;
}